<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add to Cart</title>
    <link rel="stylesheet" href="/style.css" />
    <!--fontawsome-->
    <link rel="stylesheet" href="/CSS/all.min.css" />
  </head>

  <body>
    <div class="header">
      <h2 class="store">
        <p>
          <img class="logoimg" src="/assets/assets/pro/logo.jpeg" alt="" />
        </p>
        <p class="logo">Pet world store</p>
      </h2>
      <div class="cart">
        <i class="fa-solid fa-cart-shopping" id="mobile"></i>
        <i class="fas fa-window-close" id="close"></i>
        <p id="count">0</p>
      </div>
    </div>

    <div class="container">
      <div id="root">
        <% products.forEach(product => { %>
        <div class="box">
          <div class="img-box">
            <img class="images" src="<%= product.image_url %>" alt="" />
          </div>
          <div class="bottom">
            <p><%= product.name %></p>
            <h2>$ <%= product.price %></h2>
            <a href="/<%= product._id %>">More Info </a>
          </div>
        </div>
        <% }); %>
      </div>

      <div class="sidebar" id="side">
        <div class="head">
          <p>Cart</p>
          <p id="count2">0</p>
        </div>
        <div id="cart-item">Your cart is empty</div>

        <div class="foot">
          <h3>Total</h3>
          <h2 id="total">$0.00</h2>
        </div>
      </div>
    </div>

    <!-- <script src="/main.js"></script> -->
  </body>
</html>
